/*Header + Navigation Bar*/
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:auto;
  background: #1F2937;
}

/*Hader*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:#1F2937;
}

.text{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
  }

button#booking{
  background-color: #3882f6;
  width: 100px;
  border-radius: 15%;
}

p{
  color: white;
}
h1{
  color: white;
}

/*Section 1 - Pictures, Blurbs*/
.section1{
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: #3882f6;
height: 500px;
}
h2{
  display: flex;
  justify-content: center;
}
div.pairs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div.combo{
  display:flex;
  flex-direction: column;
  align-items: center;

}
span#square{
  background-color: white;
  height: 100px;
  width: 100px;
  border-color: gold;
  border-radius: 10%;
  border-style: solid;
  border-width: thick;
  margin-bottom: 10px;
}

div.text{
  flex-direction: row;
  justify-content: space-evenly;
}

span#text{
  background-color: purple;
  height: 100px;
  width: 100px
  
}

/*Section 2 - Quote*/
.section2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 400px;
  border:fit-content;
}
p#quote{
  height: auto;
  width: 400px;
  margin: 20px;
}

p#reference{
  height: auto;
  width: 200px;
  margin: 20px;
}

/*Section 3 - Call to Action*/
.section3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  height: 300px

}

.container{
  display: flex;
  background-color: #3882F6;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: auto;
  margin: 75px;
}

.callToAction{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

button{
  height: 50px;
  margin: 10px;
}